.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 500;
}

h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 130%;
  font-weight: 500;
}

h3 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 140%;
  font-weight: 500;
}

h4 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

h5 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

h6 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}

a {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #000;
  text-decoration: underline;
}

a:hover {
  color: rgba(0, 0, 0, 0.6);
}

img {
  display: inline-block;
}

blockquote {
  margin-bottom: 10px;
  padding: 10px 20px 10px 40px;
  border-left: 3px solid #000;
  font-size: 18px;
  line-height: 160%;
}

figure {
  margin-bottom: 10px;
}

figcaption {
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
}

.body {
  background-color: #fff;
  font-family: Inter, sans-serif;
  color: #000;
  font-size: 22px;
  line-height: 160%;
}

.main-container {
  max-width: 1480px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 60px;
  padding-left: 60px;
}

.brand {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #000;
  font-weight: 400;
  text-decoration: none;
  /* font-size: rem; */
}

.nav-link {
  margin-right: 2.5vw;
  padding: 10px 0px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #000;
  font-size: 1rem;
}

.nav-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.nav-link.w--current {
  color: #000;
}

.nav-link.w--current:hover {
  color: rgba(0, 0, 0, 0.6);
}

.navbar {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: transparent;
}

.section {
  padding-top: 20px;
  padding-bottom: 120px;
}

.section.filled {
  background-color: #000;
  color: #fff;
}

.section.no-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}

.section.no-top-padding {
  padding-top: 0px;
}

.big-text {
  margin-top: 0px;
  margin-bottom: 40px;
  font-size: 60px;
  line-height: 125%;
  font-weight: 500;
}

.big-text.less-bottom-padding {
  margin-bottom: 20px;
}

.grid-halves {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-halves.center-vertical {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block {
  line-height: 150%;
}

.link {
  display: inline-block;
  margin-top: 20px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #000;
  font-weight: 600;
}

.link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.link.light {
  color: #fff;
}

.link.top-padding {
  margin-top: 60px;
}

.heading-2 {
  margin-top: 0px;
  margin-bottom: 60px;
  color: #c7c7c7;
  font-weight: 500;
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-link {
  display: block;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #000;
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.footer-link.w--current {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
}

.field-label {
  font-size: 14px;
  line-height: 130%;
  font-weight: 500;
}

.text-field {
  min-height: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  -webkit-transition: border 200ms ease;
  transition: border 200ms ease;
}

.text-field:focus {
  border: 1px solid #000;
}

.text-field.no-top-padding {
  margin-top: 0px;
}

.textarea-field {
  min-height: 230px;
  border-radius: 3px;
  -webkit-transition: border 200ms ease;
  transition: border 200ms ease;
}

.textarea-field:focus {
  border: 1px solid #000;
}

.button {
  margin-top: 10px;
  padding-top: 11px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 3px;
  background-color: #000;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  font-size: 20px;
}

.button:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.full-width-image {
  width: auto;
  max-height: 500px;
}

.project-list-2-per-line {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

/* .project-block {
  width: 100%;
  -webkit-transition: opacity 200ms ease, color 200ms ease;
  transition: opacity 200ms ease, color 200ms ease;
  text-decoration: none;
}

.project-block:hover {
  opacity: 0.8;
} */

.text-center {
  text-align: center;
}

.text-center.padding-bottom {
  margin-bottom: 100px;
}

.navigation-cta {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  float: none;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #000;
  font-weight: 600;
  font-size: 1rem;
}

.navigation-cta:hover {
  color: rgba(0, 0, 0, 0.6);
}

.footer-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu-grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-container {
  max-width: 1480px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 60px;
  padding-left: 60px;
}

.form {
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}
.text-center {
  text-align: center;
}

.error-message {
  margin-top: 20px;
  padding: 14px 20px;
  border-radius: 10px;
  color: #f72929;
}

.success-message {
  height: 100%;
  background-color: transparent;
}

.section-header {
  margin-bottom: 50px;
  /* color: hsla(0, 0%, 76.7%, 0.6); */
  font-weight: 500;
}

.grid-footer {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  max-height: 100%;
  max-width: 100%;
  min-height: 80vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.call-to-action-black {
  text-align: center;
  padding: 80px 0;
  background-color: black;
  color: #e7e7e7;
}

.email {
  text-decoration: none;
  display: block;
}

.cards-grid-container {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  text-align: left;
}

.cards-grid-container4 {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  text-align: left;
}

.black {
  background-color: black;
  color: white;
}

.flex-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  -webkit-box-orient: horizontal;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-sizing: initial;
}

.feature-section {
  padding-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#split-form textarea {
  resize: none;
}

#hero:nth-of-type(4) {
  padding-bottom: 80px;
}

#feature-section:nth-of-type(1) {
  padding-top: 0px;
}

.full-text {
  margin-bottom: 20px;
}

.index-service .section-header {
  /* font-weight: bold; */
  font-size: 2.3rem;
  margin-bottom: 20px;
}
.index-service .sub {
  margin-bottom: 55px;
  /* text-align: center; */
}

.service-card a {
  color: inherit;
  box-sizing: border-box;
}

.service-card {
  background-color: rgb(107, 107, 107);
  background-color: black;
  background-color: white;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 20px;
  transition: ease 0.3s all;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: black;
  box-sizing: border-box;
}

.service-card p,
.service-card h3 {
  text-align: center;
  box-sizing: border-box;
}

.service-card p {
  font-size: 1rem;
  margin-top: 10px;
}

.no-underline {
  outline: none;
  text-decoration: none;
}
.link-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: ease-in-out 0.7s all;
}
.link-btn:hover {
  transform: translateY(-5px);
  transition: ease-in-out 0.7s all;
}

.link-btn #service-project {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 60px;
}

#project-in-service-title {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
}

#approach {
  padding-top: 20px;
}

.grid-flex-padding {
  padding-bottom: 10px;
}

.grid-halves {
  grid-column-gap: 40px;
}

.extra-top-margin {
  margin-top: 120px;
}

.main-text {
  padding-top: 40px;
  padding-bottom: 40px;
}

#main-title {
  padding-bottom: 20px;
  text-align: center;
}
#main-title .section {
  padding-top: 20px;
}

/* #main-title h1 {
  font-size: 65px;
} */

#about h1 {
  margin: 0;
}

#about {
  padding-bottom: 60px;
}

#values {
  padding-top: 60px;
}
.listitem {
  max-width: 250px;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.listitem h4 {
  font-size: 1.5rem;
}

.index-img img {
  min-height: 360px;
  object-fit: cover;
}
.index-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(63, 63, 63);
  padding: 80px 0;
  background-color: #000;
  color: white;
  margin-bottom: 50px;
}
.index-icons img {
  max-height: 70px;
  object-fit: cover;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

.text-container {
  max-width: 820px;
}

.hero-image-mask {
  margin-left: 40px;
  justify-content: flex-end;
}

.feature-image-mask {
  margin-right: 40px;
  justify-content: flex-start;
}

.image-mask {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;
}

.feature-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
  max-width: 500px;
  min-width: 300px;
  min-height: 300px;
  background-position: center;
}

#main-img-frame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.img-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#gallery {
  text-align: center;
  padding: 50px 0;
  background-color: #000;
  color: white;
}

#gallery .project-block {
  color: white;
  transition: all 1s ease-in-out;
}

#gallery .project-block:hover {
  transform: scale(1.1);
  transition: all 1s ease-in-out;
}

#process * {
  text-align: left;
}
.text-center {
  text-align: center;
}
.features-gallery {
  margin-bottom: 40px;
}

.video-frame {
  width: 760px;
  height: 428px;
  margin: 20px 0;
}

#feature-section .me {
  justify-content: flex-start;
  align-items: flex-start;
}
.me img {
  margin-top: 10px;
}
.me p,
.me li {
  font-size: 1.2rem;
  padding-bottom: 10px;
}

/* ---------------------------------------------------SPECIAL CASES 1200px view styles-------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
@media screen and (max-width: 1200px) {
  #process .cards-grid-container {
    display: grid;
    grid-auto-columns: 1fr;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    text-align: left;
  }
  .video-frame {
    width: 560px;
    height: 315px;
  }
  .me p,
  .me li {
    font-size: 1rem;
  }
}
/* ---------------------------------------------------START of 991px view styles-------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 991px) {
  .body {
    font-size: 20px;
  }
  .me p {
    font-size: 1rem;
  }
  .main-container {
    padding-right: 40px;
    padding-left: 40px;
  }
  .brand.w--current {
    font-size: 20px;
  }
  .nav-link {
    display: block;
    padding-left: 40px;
  }
  .nav-link.w--current {
    padding-left: 40px;
  }
  .section {
    /* padding-top: 60px; */
    padding-bottom: 60px;
  }
  .big-text {
    font-size: 2.3rem;
  }
  .grid-halves {
    grid-column-gap: 40px;
    grid-row-gap: 60px;
  }
  .project-list-2-per-line {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }
  .navigation-cta {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 40px;
    float: none;
  }
  .menu-grid {
    padding-right: 40px;
    padding-left: 40px;
  }
  .nav-menu {
    height: 100vh;
    background-color: #fff;
  }
  .nav-container {
    padding-right: 0px;
    padding-left: 0px;
  }
  .icon {
    color: #000;
  }

  .section-header {
    margin-bottom: 40px;
  }
  .grid-footer {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    -ms-grid-columns: 0.75fr 1fr;
    grid-template-columns: 0.75fr 1fr;
  }
  .menu-button {
    background-color: #fff;
  }
  .menu-button:focus {
    background-color: #fff;
  }
  .menu-button.w--open {
    background-color: #fff;
  }
  #main-title {
    text-align: left;
  }
  .link-margin {
    margin: 10px 0 0 0;
  }
  .image-mask {
    justify-content: center;
  }
  .feature-image {
    max-width: none;
    max-height: none;
  }
  .nav-colapse {
    -ms-grid-column-align: end;
    justify-self: end;
  }
  .cards-grid-container4 {
    display: grid;
    grid-auto-columns: 1fr;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    text-align: left;
  }
  #feature-section p,
  #feature-section li {
    font-size: 1rem;
  }
}

/* ---------------------------------------------------START of 767px view styles-------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 767px) {
  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .big-text {
    font-size: 48px;
  }
  .big-text.less-bottom-padding {
    margin-bottom: 10px;
  }
  .grid-halves {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .grid-halves.center-vertical {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .project-list-2-per-line {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .menu-grid {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .error-message {
    margin-top: 20px;
  }
  .grid-footer {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .cards-grid-container {
    display: grid;
    grid-auto-columns: 1fr;
    gap: 40px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: left;
  }
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }
  .image-mask {
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  #project-in-service-title {
    padding: 0px;
    text-align: left;
  }
  .extra-top-margin {
    margin-top: 80px;
  }
  #main-title h1 {
    padding-bottom: 40px;
    margin-bottom: 0px;
  }
  .feature-image {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }
  .link-margin {
    margin-top: 20px;
  }
  .feature-section {
    padding: 40px 20px;
  }
  .cards-grid-container4 {
    display: grid;
    grid-auto-columns: 1fr;
    gap: 40px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: left;
  }
  #process .cards-grid-container {
    display: grid;
    grid-auto-columns: 1fr;
    gap: 40px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: left;
  }
  .video-frame {
    width: 320px;
    height: 180px;
  }
}

/* ---------------------------------------------------START of 479px view styles-------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 479px) {
  .main-container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .nav-link {
    padding-left: 20px;
  }
  .nav-link.w--current {
    padding-left: 20px;
  }
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
  }
  .big-text {
    font-size: 36px;
  }
  .navigation-cta {
    padding-left: 20px;
  }
  .menu-grid {
    padding-right: 0px;
    padding-left: 0px;
  }
  .nav-menu {
    padding-top: 0px;
    padding-bottom: 10px;
  }
  .flex-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .footer {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  #main-title h1 {
    padding-bottom: 40px;
    margin-bottom: 0px;
    font-size: 38px;
  }
  .link-margin {
    margin: 10px 0 0 0;
  }
  /* .cards-grid-container4 {
    display: grid;
    grid-auto-columns: 1fr;
    gap: 40px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: left;
  } */
  .index-service {
    margin-top: 0;
    padding-top: 20px;
  }
}
